<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
  <ion-view style="" class=" " id="page6" title="Bespannungsübersicht">
    <ion-content class="has-header" padding="true" ng-app="app" ng-controller="bespannungenCtrl">
    <div class="item item-divider">
    	<p>{{bespannungen.kunde.name}} - Schläger {{bespannungen.schlaeger.schlaegerNr}}</p>
    	<h2>{{bespannungen.schlaeger.name}}</h2>
   	</div>
        <a class=" button button-positive  button-block " id="saskiaNeidSchlGer2-button9" ui-sref="cMSuperDuperApp.bespBearbeiten({schlaegerId: schlaegerId})">Neue Bespannung</a>
        <ion-list class=" " id="saskiaNeidSchlGer2-list7">
            <ion-item style="" id="bespannung.id" ng-repeat="bespannung in bespannungen.bespannungen | orderBy:'-datum'" class="item-icon-right  ">
                <span class="item-note">{{bespannung.datum | date: 'dd.MM.yyyy'}}</span>
                <h2>{{bespannung.saite.name}}</h2>
                <p>Längsseiten: {{bespannung.laengs}} kg</p>
                <p>Querseiten: {{bespannung.quer}} kg</p>
                <p>DT: {{bespannung.dt}}</p>
                <p>Preis: {{bespannung.preis}} €</p>
                <i ng-show="$index == 0" class="icon ion-edit" ui-sref="cMSuperDuperApp.bespBearbeiten({bespId: bespannung.id})"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
</body>
</html>