<ion-view style="" class=" " id="page1" title="CM-super-duper-App" hide-nav-bar="true">
    <ion-tabs style="" id="cMSuperDuperApp-tabs1" class="tabs-stable tabs-icon-top ">
        <ion-tab class=" " id="cMSuperDuperApp-tab1" title="Kunden" icon="ion-person-stalker" href="#/page1/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab class=" " id="cMSuperDuperApp-tab2" title="Schläger" icon="ion-ios-tennisball-outline" href="#/page1/page3">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab class=" " id="cMSuperDuperApp-tab3" title="Saiten" icon="ion-ios-grid-view-outline" href="#/page1/page4">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>