<ion-view style="" class=" " id="page2" title="Kunden">
    <ion-content class="has-header" padding="true">
        <form class="list " id="kunden-form1">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="" type="search" ng-model="searchText">
            </label>
        </form>
        <button class=" button button-positive  button-block " id="kunden-button1" ui-sref="cMSuperDuperApp.kundeDetail">Neuer Kunde</button>
        <ion-list class=" " id="kunden-list" ng-app="app" ng-controller="kundenCtrl">
            <ion-item style="" id="kunde.kundennummer" class="item-icon-left" ui-sref="cMSuperDuperApp.schlaegeruebersicht({kundenId: kunde.kundennummer})" ng-repeat="kunde in kunden | orderBy:'name' | filter:searchText">
                <i class="icon ion-android-person"></i>{{kunde.name}}</ion-item>
        </ion-list>
        <div class=" button-bar " id="kunden-button-bar1"></div>
    </ion-content>
</ion-view>