<!doctype html>
<html lang="en" ng-app id="ng-app">
<ion-view style="" class=" " id="page4" title="Saiten" cache-view="false">
    <ion-content class="has-header" padding="true">
        <form class="list " id="saiten-form3">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="" type="search" ng-model="searchText">
            </label>
        </form>
        <button class=" button button-positive  button-block " id="saiten-button6" ui-sref="cMSuperDuperApp.saiteDetail">Neue Saite</button>
        <ion-list class=" " id="saiten-list3" ng-app="app" ng-controller="saitenCtrl">
        	<ion-item style="" id="saite.id" ui-sref="cMSuperDuperApp.saiteDetail({saitenId: saite.id})" class="item-thumbnail-left  " ng-repeat="saite in saiten | filter:searchText">
                <h2>{{saite.marke}}</h2>
                <p>{{saite.bezeichnung}}</p>
                <p>{{saite.typ}}</p>
                <p>{{saite.preis}} EUR/m</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>