<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
  <ion-view style="" class=" " id="page5" title="Schlägerübersicht">
    <ion-content class="has-header" padding="true" ng-app="app" ng-controller="saitenCtrl">
    <div class="item item-divider">
    	<p>{{item.kunde.name}}
    	<i class="icon ion-edit" ui-sref="cMSuperDuperApp.kundeBearbeiten({kundenNr: item.kunde.kundennummer})"></i>
    	   {{item.schlaeger.length}} Schläger, {{item.anzahlBespannungenGesamt}} Bespannungen gesamt</p>
   	</div>
        <a class=" button button-positive  button-block icon-left ion-plus " id="bespannungen-button7" ui-sref="cMSuperDuperApp.neuerSchlaeger({kundenNr: item.kunde.kundennummer})">Neuer Schläger</a>
        <ion-list class=" " id="i.schlaeger.schlaegerId" ng-repeat="i in item.schlaeger">
            <ion-item id="i.schlaeger.schlaegerId" class="item-divider">Schläger {{i.schlaeger.schlaegerNr}}
            <i class="icon icon-end ion-gear-a" ui-sref="cMSuperDuperApp.schlaegerBearbeiten({schlaegerId: i.schlaeger.schlaegerId, modellNr: i.schlaeger.modellNr})"></i>
            <p class="font-style: italic" ng-show="!i.schlaeger.aktiv">nicht mehr aktiv</p>
            </ion-item>
        	<div style="" id="schlaegeruebersicht-list-item-container5" class="item item-body ">
	            <div style=""> 
	                <h2>
	                    <b>{{i.schlaeger.name}}</b>
	                </h2>
	                <b>Saite:</b> {{i.bespannung.saite.name}}
	                <br>
	                <b>Letzte Bespannung:</b> {{i.bespannung.datum}}
	                <br>
	                <b>DT:</b> {{i.bespannung.dt}}
	                <br>
	                <b>Längsseiten:</b> {{i.bespannung.laengs}} kg
	                <br>
	                <b>Querseiten:</b> {{i.bespannung.quer}} kg
	                <br>
	            </div> 
            <button class=" button button-positive  button-block icon-left ion-edit" ng-show="i.schlaeger.aktiv" id="bespannungen-button7" ui-sref="cMSuperDuperApp.bespannungen({schlaegerId: i.schlaeger.schlaegerId})">Bespannungen</button>
        	<button class=" button button-block button-energized icon-left ion-edit" ng-show="!i.schlaeger.aktiv" id="bespannungen-button7" ui-sref="cMSuperDuperApp.bespannungen({schlaegerId: i.schlaeger.schlaegerId})">Bespannungen</button>
        	</div>
        </ion-list>
    </ion-content>
</ion-view>
</body>
</html>