<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
<ion-view style="" class=" " id="schlaegerBearbeiten" title="Schläger bearbeiten" >
	<ion-content class="has-header" padding="true" ng-app="app" ng-controller="schlaegerBearbeiten">
	<form class="list " id="bearbeiten-formModell" >
	<ion-list>
		<ion-toggle ng-model="aktiv">Schläger aktiv
		<p>deaktivierte Schläger werden in der Übersicht nach unten sortiert</p></ion-toggle>
		<label id="bearbeiten-select1" class="item item-input item-select ">
		<span class="input-label">Schlägermodell</span>
			<select required ng-options="modell.modellNr as modell.name for modell in modelle" ng-model="schlaeger">
			</select>
		</label>
	</ion-list>
	</form>
	<button class=" button button-positive  button-block "
			id="bearbeiten-button10" ng-click="save(kunde)">Speichern</button>
</ion-content>
</ion-view>
</body>
</html>