<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
  <ion-view style="" class=" " id="page5" title="Schlägerübersicht">
    <ion-content class="has-header" padding="true" ng-app="app" ng-controller="saitenCtrl">
    <div class="item item-divider">
    	<p>{{item.kunde.name}}
    	<i class="icon ion-edit" ui-sref="cMSuperDuperApp.kundeBearbeiten({kundenNr: item.kunde.kundennummer})"></i></p>
   	</div>
        <ion-list class=" " id="i.schlaeger.schlaegerId" ng-repeat="i in item.schlaeger">
            <ion-item id="i.schlaeger.schlaegerId" class="item-divider ">Schläger {{i.schlaeger.schlaegerNr}}
            </ion-item>
        	<div style="" id="schlaegeruebersicht-list-item-container5" class="item item-body ">
	            <div style=""> 
	                <h2>
	                    <b>{{i.schlaeger.name}}</b>
	                </h2>
	                <b>Seitenbild:</b> {{i.schlaeger.mains}}/{{i.schlaeger.crosses}}
	                <br>
	                <b>Letzte Bespannung:</b> {{i.bespannung.datum}}
	                <br>
	                <b>DT:</b> {{i.bespannung.dt}}
	                <br>
	                <b>Längsseiten:</b> {{i.bespannung.laengs}} kg
	                <br>
	                <b>Querseiten:</b> {{i.bespannung.quer}} kg
	                <br>
	            </div> 
            <a class=" button button-positive  button-block icon-left ion-edit " id="bespannungen-button7" ui-sref="cMSuperDuperApp.bespannungen({schlaegerId: i.schlaeger.schlaegerId})">Bespannungen</a>
        	</div>
        </ion-list>
    </ion-content>
</ion-view>
</body>
</html>