<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.0"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>Tennis-App</display-name>
 <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
        <servlet-name>jerseyServlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>de.blackyellow.tennis.json</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>  
    </servlet>
    <servlet-mapping>
        <servlet-name>jerseyServlet</servlet-name>
        <url-pattern>/tennis/*</url-pattern>
    </servlet-mapping>
 <servlet>
  	<servlet-name>saitenServlet</servlet-name>
  	<servlet-class>de.blackyellow.tennis.json.SaitenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>saitenServlet</servlet-name>
  	<url-pattern>/saitenServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>schlaegerServlet</servlet-name>
  	<servlet-class>de.blackyellow.tennis.json.SchlaegerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>schlaegerServlet</servlet-name>
  	<url-pattern>/schlaegerServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>markenServlet</servlet-name>
  	<servlet-class>de.blackyellow.tennis.json.MarkenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>markenServlet</servlet-name>
  	<url-pattern>/markenServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>kundenServlet</servlet-name>
  	<servlet-class>de.blackyellow.tennis.json.KundenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>kundenServlet</servlet-name>
  	<url-pattern>/kundenServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>bespannungServlet</servlet-name>
  	<servlet-class>de.blackyellow.tennis.json.BespannungServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bespannungServlet</servlet-name>
  	<url-pattern>/bespannungServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>bespannungBearbeitenServlet</servlet-name>
  	<servlet-class>de.blackyellow.tennis.json.BespannungBearbeitenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bespannungBearbeitenServlet</servlet-name>
  	<url-pattern>/bespannungBearbeitenServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>schlaegerZuordnungServlet</servlet-name>
  	<servlet-class>de.blackyellow.tennis.json.SchlaegerZuordnungServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>schlaegerZuordnungServlet</servlet-name>
  	<url-pattern>/schlaegerZuordnungServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>neuerSchlaegerServlet</servlet-name>
  	<servlet-class>de.blackyellow.tennis.json.NeuerSchlaegerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>neuerSchlaegerServlet</servlet-name>
  	<url-pattern>/neuerSchlaegerServlet/*</url-pattern>
  </servlet-mapping>
</web-app>
